@model FestispecWeb.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Festispec log in</title>
    <link href="/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Festispec", null, null, new { area = "" }, new { @class = "navbar-brand" })

            </div>

        </div>

    </div>
    <div class="container body-content">

        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            <fieldset>
                <legend>Meld u aan</legend>

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @if (@ViewBag.Message != null)
                {
                    <div style="border: 1px solid red">
                        @ViewBag.Message
                    </div>
                }
                <table>
                    <tr>
                        <td>@Html.Label("Email")</td>
                        <td>@Html.TextBoxFor(a => a.UserName)</td>
                        <td>@Html.ValidationMessageFor(a => a.UserName)</td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Wachtwoord")</td>
                        <td>@Html.TextBoxFor(a => a.Password, new { @type = "password" })</td>
                        <td>@Html.ValidationMessageFor(a => a.Password)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Login" />
                        </td>
                        <td></td>
                    </tr>
                </table>
            </fieldset>
        }

    </div>
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Festispec application</p>
        </footer>
    </div>
</body>
</html>
