@model FestispecWeb.Models.InspectionVM


@{
    ViewBag.Title = "Questionnaires";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> </h2>

<div class="container2">
    <div class="row">
        <div class="box">
            <div class="col-md-6">
                <h2 class="Text">@Model.Inspections.description</h2>
            </div>
        </div>
    </div>
</div>

<!--<p>@Model.Inspections.start_date.Date</p>
<p>@Model.Inspections.start_date.TimeOfDay</p>-->


<h3>@Model.Inspections.description</h3>

<table class="table">
    @foreach (var item in Model.Questionnaires)
    {
        <tr>
            <td>
                <p>@item.name</p>
            </td>
            <td>
                <p>@item.version</p>
            </td>
            <td>
                @Html.ActionLink("Naar vragenlijst", "questionnaire", new { id = item.id })
            </td>
        </tr>
    }

</table>

<style>
    .container2 {
        background-color: #4B4B4B;
    }

    .Text {
        color: white;
        margin-left: 10px;
    }
</style>
